<h1> <%= @title %> </h1>

<%= form_for @vendor do |f| %>
  <%= f.label :vendor_name %>:
  <%= f.text_field :name, :required => true %>
	<br>
  <%= f.label :number_of_employees %>:
  <%= f.text_field :no_employees, :required => true, :numericality => {:only_integer => true} %><br>
	<%= f.label :market_id, "Located at:" %>
	<%= f.collection_select :market_id, Market.order(:name), :id, :name, :required => true %>
	<br>

  <%= @vendor.persisted? ? (f.submit value: "Update Vendor", id: 'special-button') : (f.submit value: "Add Vendor", id: 'special-button') %>
<% end %>
