<h3> New Vendor for <%= @market.name %> </h3>

<%= form_for @vendor do |f| %>
  <%= f.label :vendor_name %>:
  <%= f.text_field :name, :required => true %>
	<br>
  <%= f.label :number_of_employees %>:
  <%= f.text_field :no_employees, :required => true, :numericality => {:only_integer => true} %><br>
	<%= f.hidden_field :market_id, value: @market.id %>
	<br>

  <%= f.submit value: "Add Vendor", id: 'special-button' %>
<% end %>
