<h1> <%= @title %> </h1>

<%= form_for @sale, url: "/vendors/#{@vendor.id}/products/#{@product.id}/sales" do |f| %>
  <%= f.label :sale_amount %>:
  <%= f.number_field :amount %>
	<br>
	<%= f.label :purchase_time %>:
	<%= f.date_field :purchase_time %>
	<br>
	<%= f.hidden_field :product_id, value: @product.id %>
	<%= f.hidden_field :vendor_id, value: @vendor.id %>
  <%= f.submit value: "Add Sale" %>
<% end %>
<br>