<!DOCTYPE html>
<html>
<head>
  <title>Farmer's Market Finder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav class="main-nav">
			<%= link_to "Home Page", root %> | <%= link_to "List of All Markets", markets_users_path %> | <%= link_to "List of All Vendors", vendors_users_path %>
		</nav>
	</header>

<%= yield %>

</body>
</html>
